@charset "UTF-8";

/* 共通部分
--------------------------------------------- */
html {
    font-size: 100%;
}

body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-weight: bold;
    line-height: 1.75;
    color: #333;
}

a {
    text-decoration: none;
}

/* HEADER
--------------------------------------------- */
img {
    max-width: 100%;
}

.logo {
    width: 179px;
    height: 40px;
}

.main-nav {
    display: flex;
    font-size: 16px;
    text-transform: capitalize;
    list-style: none;
}

.main-nav a {
    color: #333;
}

.challenge {
    margin-left: 20px;
    margin-right: 20px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.wrapper {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
}

/* CONTENTS
--------------------------------------------- */
/* ページタイトル */
.page-title {
    font-size: 2.25rem;
    text-align: center;
}

.home-content {
    text-align: center;
    padding-top: 254px;
    padding-bottom: 225px;
    color: #fff;
}

#home {
    background-image: url(../images/austin-distel-wawEfYdpkag-unsplash.png);
}

/* 大きな背景画像 */
.big-bg {
    background-size: cover;
    background-position: center center;
}

#blog .page-title {
    font-size: 32px;
    line-height: 1.21875;
    margin-top: 57px;
    margin-bottom: 42px;
}

.blog-contents {
    display: flex;
    justify-content: space-between;
}

.blog-image {
    width: 500px;
    height: 168px;
}

.blog-card p {
    font-size: 18px;
    position: relative;
    padding: 0 20px;
    padding-top: 10px;
    line-height: 1.3;
}

.blog-card {
    position: relative;
    width: 310px;
    height: 336px;
    box-shadow: #00000029 0 3px 6px;
}

.date {
    font-weight: normal;
    position: absolute;
    bottom: 18px;
    margin-left: 20px;
    line-height: 1.125;
}

.mid {
    margin: 0 25px;
}

.btn {
    text-align: center;
    margin-top: 60px;
}

.btn a {
    padding: 17px 110px;
    box-shadow: #00000029 0 3px 6px;
    color: #333;
    font-size: 18px;
    border: 1px solid #EEE;
    border-radius: 5px;
}

/* FOOTER
--------------------------------------------- */
.footer-content {
    text-align: center;
    margin-top: 88px;
}

.btn-contact {
    margin-top: 50px;
    margin-bottom: 44px;
}

#footer h1 {
    font-size: 36px;
}

.btn-contact a {
    padding: 19px 25px;
    background-color: #83032A;
    color: #fff;
    box-shadow: #00000029 0 3px 6px;
    border-radius: 5px;
}

#footer {
    background-image: url(../images/tim-bogdanov-4uojMEdcwI8-unsplash.png);
    padding-top: 59px;
    padding-bottom: 44px;
    color: #fff;
}

.footer-content p {
    padding-top: 47px;
}

.copyright {
    background-color: #333;
    height: 80px;
}

.copyright p {
    color: #EEE;
    font-size: 18px;
    font-weight: normal;
    padding-top: 24px;
}

/* モバイル版
--------------------------------------------- */
@media (max-width: 600px) {
    .page-header {
        flex-direction: column;
        align-items: center;
    }

    .main-nav a {
        padding: 0 10px;
    }

    .blog-contents {
        flex-direction: column;
        align-items: center;
    }

    .mid {
        margin: 20px 0;
    }
}

@media (max-width: 280px) {
    .main-nav li {
        font-size: 11px;
    }

    .btn a {
        padding: 20px 80px;
    }
}
